*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style-type: none;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button:not(:focus-visible) {
	cursor: pointer;
	transition: all 0.2s;
	border: 1px solid transparent;
}

button:focus-visible {
	border: 1px solid #000;
}

input:not(:focus-visible) {
	outline: 1px solid transparent;
}

input:focus-visible {
	outline: 1px solid #000;
}

a {
	text-decoration: none;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
