@import './_reset';

body{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #333;
}


.wrapper{
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 0 1em;
    font-size: clamp(100%, 3vw, 24px);
}

.card{
    position: relative;
    width: 500px;

    &__title{
        margin: 1em 0;
        font-size: 3rem;
        text-align: center;
        color: #FFF;
        text-transform: uppercase;
    }
    
    .body{
        margin: 0 auto;
        padding: 0 2em;
        color: #FFF;
        font-size: 2rem;
        
        &__title{
            color: #00b4d8;
            letter-spacing: 2px;
        }
        
        &__text{
            margin-top: 1em;
            letter-spacing: 1px;
            span{
                display: block;
                margin: 30px 0;
                padding: 30px 0;
                border-top: 2px solid #DDD;
                border-bottom: 2px solid #DDD;
            }
        }
    }
    
    .btns{
        display: flex;
        justify-content: space-between;
        margin: 2em 0;
        
        &__btn{
            padding: 1em 2em;
            font-size: 2rem;
            text-transform: uppercase;
            background-color: transparent;
            border-radius: 9px;
            color: #FFF;
            
            &--highlight{
                position: relative;
                background-color: #0077b6;
                z-index: 1;
            }
            
            &--highlight::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.2);
                transform: scaleX(0);
                transform-origin: right;
                z-index: -1;
                transition: transform .3s;
            }

            &--highlight:hover::before{
                transform: scaleX(1);
                transform-origin: left;
            }
            
            &--glass{
                position: relative;
                overflow: hidden;
                border: 1px solid #FFF;
                z-index: 1;
            }
            
            &--glass::before{
                content: '';
                position: absolute;
                top: 0;
                left: -30%;
                width: 15%;
                height: 160%;
                background-color: #ddd;
                opacity: 0.5;
                z-index: -1;
                transform: rotate(20deg) translateY(-15px);
                transition: left .5s;
            }
            
            &--glass:hover::before{
                left: 120%;
            }
        }
        
    }
    
}

.card::before, .card::after{
    content: '';
    position: absolute;
    width: 108%;
    height: 106%;
    border-radius: 9px;
    box-shadow: 0 0 40px inset #0077b6;
    z-index: -1;
}

.card::before{
    left: -20px;
    top: -20px;
    border-left: 4px solid #0077b6;
    border-top: 4px solid #0077b6;
}

.card::after{
    border-right: 4px solid #0077b6;
    border-bottom: 4px solid #0077b6;
    right: -20px;
    bottom: -20px;
}


@media (min-width: 1400px) {
    .wrapper{
        max-width: 1320px;
    }
}
@media (min-width: 1200px) {
    .wrapper{
        max-width: 1140px;
    }
}
@media (min-width: 992px) {
    .wrapper{
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .wrapper{
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .wrapper{
        max-width: 540px;
    }
}